version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: bank-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: corebanking
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - bank-network

volumes:
  postgres_data:

networks:
  bank-network:
    driver: bridge